body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

header{
  background-color: #007bff;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tagline{
  font-style: italic;
}
