body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

header{
  background-color: #007bff;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tagline{
  font-style: italic;
}
#about {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 20px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #007bff;
}

#skills {
  background-color: #e0f0ff;
  margin: 20px;
  padding: 30px 20px;
  border-radius: 20px;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  font-weight: bold;
  padding: 5px 0;
  }
