body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: slateblue;
  color: #333;
  text-align: center;
}

header{
  background-color: #007bff;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tagline{
  font-style: italic;
}
#about {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 20px;
}

.profile-pic {
  width: 150px;
  border-radius: 0px;
  border: 4px solid #007bff;
}

#skills {
  background-color: #e0f0ff;
  margin: 20px;
  padding: 30px 20px;
  border-radius: 20px;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  font-weight: bold;
  padding: 5px 0;
  }

#contact {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }
